---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Sitio web con portfolio personal y blog | Alfonso Roldán | alfonsora6";
const description = "Bienvenidos a mi blog, aquí podréis conocer quien soy y además ver mi experiencia y trayectoria.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "alfonsora6.com logo con fondo verde y efectos de luz. Text: 'Sitio web con portfolio personal y blog tecnológico' y URL 'www.alfonsora6.com'."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
